<div class="post--card">
  <mat-card>
    <div class="full--width">
      <mat-card-title class="full--width">
        <div class="title--container full--width">
          <div class="left">{{post.topic | postTagName}}</div>
          <div *ngIf="post.voteCount > 0">
              <div class="right green">{{post.voteCount | prefixNumber}}</div>
          </div>
          <div *ngIf="post.voteCount <= 0">
              <div class="right red">{{post.voteCount | prefixNumber}}</div>
          </div>
        </div>
      </mat-card-title>
      <mat-card-subtitle>
        {{post.created | date}}
      </mat-card-subtitle>
    </div>
    <mat-card-content>
      <div class="post--text">
          {{post.text}}
      </div>
      <mat-card-actions >
          <button mat-button [disabled]="voted" (click)="downvote()"><i class="material-icons">thumb_down</i></button>
          <button mat-button [disabled]="voted" (click)="upvote()"><i class="material-icons">thumb_up</i></button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>