<div class="tag--selector">
    <mat-form-field class="tag--selection">
        <mat-select placeholder="Tags" multiple [(ngModel)]="selectedValue">
            <mat-option *ngFor="let val of values" [value]="val">{{labels[val]}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="post--container--component">
    <div class="post--container" *ngFor="let post of shownPosts;trackBy: trackByFn">
        <app-post class="single--post" [post]="post">
        </app-post>
    </div>
    <div div="loading--container" *ngIf="!endOfList">
        <mat-progress-spinner class="loading" mode="indeterminate"></mat-progress-spinner>
    </div>
</div>
