<mat-form-field class="full--width">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <br />
  <textarea matInput placeholder="Post text" [(ngModel)]="postText"></textarea>
</mat-form-field>
<div class="octopost--create--buttons--container">
  <button class="octopost--create--buttons" [disabled]="isLoading" mat-button (click)="closeDialog()">Cancel</button>
  <button class="octopost--create--buttons" [disabled]="isLoading" mat-button (click)="createPost()">Create</button>
</div>