<div>
    <md-toolbar color="primary">
        <div class="icon">
            <img src="/assets/img/octopost.png" alt="octopost" height="42" width="42">
        </div>
        <span>Octopost</span>   
    </md-toolbar>
    <div class="octopost--create">
        <button md-button (click)="showDialog()"><i class="material-icons">add</i></button>
        <button md-button (click)="refresh()"><i class="material-icons">refresh</i></button>
    </div>
    <md-tab-group>
        <md-tab label="Popular">
            <app-popular-posts>
            </app-popular-posts>
        </md-tab>
        <md-tab label="Newest">
            <app-newest-posts>
            </app-newest-posts>
        </md-tab>
        <md-tab label="By Tag">
            <app-tagged-posts>
            </app-tagged-posts>
        </md-tab>
    </md-tab-group>
</div>
